# io_uring params
sq_entries = 512
cq_entries = 1024  # cq_entries is set at least 2 * sq_entries in io_uring by default
origin_channel_size = 1024

# network addr
client_ip = 127.0.0.1
port = 1214

# about message queue
feedback_bulk_size = 1024
worker_thread = 4;

# about cache length
max_buffer_size = 1024;

# about protocal version
protocal_name = gcrpc
protocal_version = 1.0.0